body{
   background-image: radial-gradient(red, yellow, green);
}

    /* background-image: url(../Bootstrap/codinggif.gif); */
    /* background-repeat: no-repeat; */
    
    /* margin: 0px;
    background-color: aquamarine; */
/*  font-weight: italic;
    font-size: 100px;
    font-family: sans-serif;
    font-style: oblique; */
