.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content menu1"
    "menu content menu1"
    "footer footer footer";
  grid-template-rows: 50fr 15fr 10fr;
  gap: 10px;
  background-color: violet;
  padding: 5px;
}

.container div {
  background-color: white;
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
}

.container div.content {
  grid-area: content;
}

.container div.menu1 {
  grid-area: menu1;
  text-align: right;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}
.container>.header{
    background-color: aqua;
}
.container>.menu{
    border-radius: 10px;
    background-color: green;
}
.container>.menu1{
    border-radius: 10px;
    background-color: green;
}

.content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.content>img{
  width: 200px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container{
    display: grid;
    background-color: blue;
  }
  .content{
    flex-direction: column; /* mobile me image niche aa jayegi */
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "menu1"
      "content"
      "menu"
      "footer";

    grid-template-columns: 1fr;
  }
}